@charset "UTF-8";
/* 存放组件库 */
/* 清除浮动 */
/* 根据不同dpr设置不同的字体大小 */
/* button样式*/
.mshe-btn {
    display: inline-block;
    height: 1.173333rem;
    padding: 0 0.533333rem;
    margin-bottom: 0;
    border: 1px solid #222;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-action: manipulation;
    -moz-touch-action: manipulation;
    -ms-touch-action: manipulation;
    -o-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
}

[data-dpr="1"] .mshe-btn {
    font-size: 16px;
}

[data-dpr="3"] .mshe-btn {
    font-size: 48px;
}

.mshe-btn-pri {
    background-color: #222;
    color: #fff;
    border: none;
}

.mshe-btn-pri:hover {
    color: #9B9B9B;
}

.mshe-btn-sec {
    background-color: #fff;
    color: #222;
}

.mshe-btn-sec:hover {
    color: #9B9B9B;
}

.mshe-btn-dis {
    background-color: #e5e5e5;
    color: #fff;
    cursor: not-allowed;
    border: none;
    pointer-events: none;
}

.a-btn {
    line-height: 1.173333rem;
}

/*title 样式 */
.mshe-font1, .mshe-font2, .mshe-font3, .mshe-font4, .mshe-font5 {
    color: #333;
}

.mshe-font1 {
    font-size: 36px;
}

[data-dpr="1"] .mshe-font1 {
    font-size: 18px;
}

[data-dpr="3"] .mshe-font1 {
    font-size: 54px;
}

.mshe-font2 {
    font-size: 32px;
}

[data-dpr="1"] .mshe-font2 {
    font-size: 16px;
}

[data-dpr="3"] .mshe-font2 {
    font-size: 48px;
}

.mshe-font3 {
    font-size: 28px;
}

[data-dpr="1"] .mshe-font3 {
    font-size: 14px;
}

[data-dpr="3"] .mshe-font3 {
    font-size: 42px;
}

.mshe-font4 {
    font-size: 24px;
}

[data-dpr="1"] .mshe-font4 {
    font-size: 12px;
}

[data-dpr="3"] .mshe-font4 {
    font-size: 36px;
}

.mshe-font5 {
    font-size: 22px;
}

[data-dpr="1"] .mshe-font5 {
    font-size: 11px;
}

[data-dpr="3"] .mshe-font5 {
    font-size: 33px;
}

.mshe-title {
    font-size: 34px;
    color: #222;
    text-transform: capitalize;
}

[data-dpr="1"] .mshe-title {
    font-size: 17px;
}

[data-dpr="3"] .mshe-title {
    font-size: 51px;
}
