@charset "UTF-8";
/* 存放组件库 */
/* 清除浮动 */
/* 根据不同dpr设置不同的字体大小 */
/* icon图标类 */
.iconfont.icon1 {
    font-size: 42px;
}

[data-dpr="1"] .iconfont.icon1 {
    font-size: 21px;
}

[data-dpr="3"] .iconfont.icon1 {
    font-size: 63px;
}

.iconfont.icon2 {
    font-size: 36px;
}

[data-dpr="1"] .iconfont.icon2 {
    font-size: 18px;
}

[data-dpr="3"] .iconfont.icon2 {
    font-size: 54px;
}

.iconfont.icon3 {
    font-size: 32px;
}

[data-dpr="1"] .iconfont.icon3 {
    font-size: 16px;
}

[data-dpr="3"] .iconfont.icon3 {
    font-size: 48px;
}

.mshe-left {
    float: left;
}

.mshe-right {
    float: right;
}

.mshe-tleft {
    text-align: left;
}

.mshe-tcenter {
    text-align: center;
}

.mshe-tright {
    text-align: right;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.none {
    display: none;
}

.block {
    display: block;
}

label {
    display: inline-block;
    position: relative;
}

.wrapper {
    padding: 0 0.4rem;
}

/* alert 弹出框 */
.mshe-layer {
    width: 7.466667rem;
    border: 1px solid #cdcdcd;
    box-sizing: content-box;
}

.mshe-layer a {
    background: #000;
    color: #fff;
}

.mshe-layer a + a {
    margin-left: 0.2rem;
}

.mshe-layer i {
    font-size: 36px;
    color: #5EBD66;
}

.mshe-layer-content {
    padding: 0.56rem 0.533333rem;
}

.mshe-layer-content h2 {
    font-size: 32px;
    color: #222;
    margin-bottom: 0.213333rem;
}

[data-dpr="1"] .mshe-layer-content h2 {
    font-size: 16px;
}

[data-dpr="3"] .mshe-layer-content h2 {
    font-size: 48px;
}

.mshe-layer-content p {
    font-size: 24px;
    color: #999;
    line-height: 0.48rem;
}

[data-dpr="1"] .mshe-layer-content p {
    font-size: 12px;
}

[data-dpr="3"] .mshe-layer-content p {
    font-size: 36px;
}

/* 表单控件样式 */
.mshe-input, .mshe-select {
    box-sizing: border-box;
    display: block;
    width: 9.2rem;
    height: 0.8rem;
    padding: 0.133333rem;
    font-size: 28px;
    color: #666;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

[data-dpr="1"] .mshe-input, [data-dpr="1"] .mshe-select {
    font-size: 14px;
}

[data-dpr="3"] .mshe-input, [data-dpr="3"] .mshe-select {
    font-size: 42px;
}

.mshe-checked {
    width: 0.586667rem;
    height: 0.586667rem;
    background: #fff;
    border: 1px solid #ccc;
}

.mshe-checked:hover {
    border: 1px solid #999;
}

.mshe-checked i {
    width: 0.373333rem;
    height: 0.24rem;
    position: absolute;
    top: 0.1rem;
    left: 0.096667rem;
    border: 3px solid #222;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mshe-checked.disabled {
    border: 1px solid #f5f5f5;
}

.mshe-checked.disabled i {
    border: 3px solid #e5e5e5;
    border-top: none;
    border-right: none;
}

.mshe-radioed {
    width: 0.586667rem;
    height: 0.586667rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.mshe-radioed:hover {
    border: 1px solid #999;
}

.mshe-radioed i {
    width: 0.24rem;
    height: 0.133333rem;
    position: absolute;
    top: 0.173333rem;
    left: 0.14rem;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mshe-radioed.choose {
    background: #222;
    border: none;
}

.mshe-radioed.disabled {
    border: 1px solid #f5f5f5;
}

.mshe-radioed.disabled i {
    border-left: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
}

/* button样式*/
.mshe-btn {
    display: inline-block;
    height: 1.173333rem;
    line-height: 1.173333rem;
    box-sizing: border-box;
    padding: 0 0.533333rem;
    margin-bottom: 0;
    border: 1px solid #222;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-action: manipulation;
    -moz-touch-action: manipulation;
    -ms-touch-action: manipulation;
    -o-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
}

[data-dpr="1"] .mshe-btn {
    font-size: 16px;
}

[data-dpr="3"] .mshe-btn {
    font-size: 48px;
}

.mshe-btn-pri {
    background-color: #222;
    color: #fff;
    border: none;
}

.mshe-btn-pri:hover {
    color: #9B9B9B;
}

.mshe-btn-sec {
    background-color: #fff;
    color: #222;
}

.mshe-btn-sec:hover {
    color: #9B9B9B;
}

.mshe-btn-dis {
    background-color: #e5e5e5;
    color: #fff;
    cursor: not-allowed;
    border: none;
    pointer-events: none;
}

.a-btn {
    line-height: 1.173333rem;
}

/*title 样式  全文字体样式*/
.mshe-title1, .mshe-title2, .mshe-title3, .mshe-title4, .mshe-title5 {
    color: #333;
}

.mshe-title1 {
    font-size: 36px;
}

[data-dpr="1"] .mshe-title1 {
    font-size: 18px;
}

[data-dpr="3"] .mshe-title1 {
    font-size: 54px;
}

.mshe-title2 {
    font-size: 32px;
}

[data-dpr="1"] .mshe-title2 {
    font-size: 16px;
}

[data-dpr="3"] .mshe-title2 {
    font-size: 48px;
}

.mshe-title3 {
    font-size: 28px;
}

[data-dpr="1"] .mshe-title3 {
    font-size: 14px;
}

[data-dpr="3"] .mshe-title3 {
    font-size: 42px;
}

.mshe-title4 {
    font-size: 24px;
}

[data-dpr="1"] .mshe-title4 {
    font-size: 12px;
}

[data-dpr="3"] .mshe-title4 {
    font-size: 36px;
}

.mshe-title5 {
    font-size: 22px;
}

[data-dpr="1"] .mshe-title5 {
    font-size: 11px;
}

[data-dpr="3"] .mshe-title5 {
    font-size: 33px;
}

.mshe-title {
    font-size: 34px;
    color: #222;
    text-transform: capitalize;
}

[data-dpr="1"] .mshe-title {
    font-size: 17px;
}

[data-dpr="3"] .mshe-title {
    font-size: 51px;
}

.mshe-listtitle {
    font-size: 32px;
    color: #222;
    text-transform: capitalize;
    letter-spacing: 1px;
}

[data-dpr="1"] .mshe-listtitle {
    font-size: 16px;
}

[data-dpr="3"] .mshe-listtitle {
    font-size: 48px;
}

.gradient {
    background: -moz-linear-gradient(left, #FFBDBD 100% 0%, #FF4E4E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFBDBD), color-stop(100%, #FF4E4E));
    background: -webkit-linear-gradient(left, #FFBDBD 0%, #FF4E4E 100%);
    background: -o-linear-gradient(left, #FFBDBD 0%, #FF4E4E 100%);
    background: -ms-linear-gradient(left, #FFBDBD 0%, #FF4E4E 100%);
    background: linear-gradient(to right, #FFBDBD 0%, #FF4E4E 100%);
}

/* 下拉框 */
.mshe-dropdown {
    font-size: 24px;
    letter-spacing: 1px;
}

[data-dpr="1"] .mshe-dropdown {
    font-size: 12px;
}

[data-dpr="3"] .mshe-dropdown {
    font-size: 36px;
}

.dropdown-toggle {
    position: relative;
    width: 8.666667rem;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.266667rem;
    margin-bottom: 0;
    border: 1px solid #666;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-touch-action: manipulation;
    -moz-touch-action: manipulation;
    -ms-touch-action: manipulation;
    -o-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
}

.dropdown-toggle span {
    position: absolute;
    right: 0.266667rem;
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #e5e5e5;
    width: 9.2rem;
}

.dropdown-menu li {
    height: 0.946667rem;
    line-height: 0.946667rem;
    padding: 0 0.266667rem;
    border-bottom: 1px solid #e5e5e5;
}

/*checkout 流程提示*/
.mshe-checkout-step {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}

.mshe-checkout-step .step1, .mshe-checkout-step .step2, .mshe-checkout-step .step3 {
    display: inline-block;
    color: #999;
    font-weight: bold;
    text-transform: capitalize;
}

.mshe-checkout-step .step1 span, .mshe-checkout-step .step2 span, .mshe-checkout-step .step3 span {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.mshe-checkout-step .active {
    color: #222;
}
