@charset "UTF-8";
/* 存放组件库 */
/* 清除浮动 */
/* 根据不同dpr设置不同的字体大小 */
.goods-title {
    margin-top: 0.293333rem;
}

.goods-title p {
    margin-bottom: 0.08rem;
}

.goods-title .mshe-pos {
    position: relative;
}

.goods-title .mshe-pos .dropdown-menu li {
    font-size: 24px;
    padding: 0.266667rem 0 0.266667rem 0.4rem;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

[data-dpr="1"] .goods-title .mshe-pos .dropdown-menu li {
    font-size: 12px;
}

[data-dpr="3"] .goods-title .mshe-pos .dropdown-menu li {
    font-size: 36px;
}

.goods-title .mshe-pos .dropdown-menu li i {
    position: absolute;
    right: 0.333333rem;
    top: 0.25rem;
}

.goods-title .mshe-pos i {
    position: absolute;
    top: 0;
    right: 0.133333rem;
}

.goods-sort {
    margin-top: 0.4rem;
    margin-bottom: 0.786667rem;
}

.goods-sort p {
    color: #999;
}

.goods-sort span i {
    margin-left: 0.186667rem;
}

.goods-list h3 {
    color: #222;
    margin-bottom: 0.4rem;
}
