@charset "UTF-8";
/* 存放组件库 */
/* 清除浮动 */
/* 根据不同dpr设置不同的字体大小 */
.goods-title {
    margin-top: 0.293333rem;
}

.goods-title p {
    font-size: 24px;
    margin-bottom: 0.08rem;
}

[data-dpr="1"] .goods-title p {
    font-size: 12px;
}

[data-dpr="3"] .goods-title p {
    font-size: 36px;
}

.goods-sort {
    margin-top: 0.4rem;
    margin-bottom: 0.786667rem;
    font-size: 24px;
}

[data-dpr="1"] .goods-sort {
    font-size: 12px;
}

[data-dpr="3"] .goods-sort {
    font-size: 36px;
}

.goods-sort p {
    color: #999;
    font-size: 22px;
}

[data-dpr="1"] .goods-sort p {
    font-size: 11px;
}

[data-dpr="3"] .goods-sort p {
    font-size: 33px;
}

.goods-list h3 {
    font-size: 28px;
    color: #222;
    margin-bottom: 0.4rem;
}

[data-dpr="1"] .goods-list h3 {
    font-size: 14px;
}

[data-dpr="3"] .goods-list h3 {
    font-size: 42px;
}

.goods-list ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
}

.goods-list ul li {
    margin: 0 0.053333rem;
    margin-bottom: 0.2rem;
}

.goods-list ul li img {
    width: 2.986667rem;
    height: 3.973333rem;
}

.goods-list ul li .info {
    position: relative;
}

.goods-list ul li .info i {
    position: absolute;
    right: 0.106667rem;
    top: 0.106667rem;
    font-size: 36px;
}

[data-dpr="1"] .goods-list ul li .info i {
    font-size: 18px;
}

[data-dpr="3"] .goods-list ul li .info i {
    font-size: 54px;
}

.goods-list ul li span {
    font-size: 24px;
    display: block;
}

[data-dpr="1"] .goods-list ul li span {
    font-size: 12px;
}

[data-dpr="3"] .goods-list ul li span {
    font-size: 36px;
}

.goods-list ul li del {
    font-size: 22px;
    color: #ccc;
}

[data-dpr="1"] .goods-list ul li del {
    font-size: 11px;
}

[data-dpr="3"] .goods-list ul li del {
    font-size: 33px;
}

.goods-list ul li:nth-child(3n+1) {
    margin: 0;
    margin-bottom: 0.2rem;
}
