@import "library";

/* button样式*/
.mshe-btn{
    display: inline-block;
    height: 1.173333rem;
    padding: 0 0.533333rem;
    margin-bottom: 0;
    border: 1px solid #222;
    @include font-dpr(32px);
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    @include prefix-property(touch-action,manipulation)
    @include prefix-property(user-select,none);
    background-image: none;
}
.mshe-btn-pri{
    background-color: #222;
    color: #fff;
    border: none;
}
.mshe-btn-pri:hover{
    color: #9B9B9B;
}
.mshe-btn-sec{
    background-color: #fff;
    color: #222;
}
.mshe-btn-sec:hover{
    color: #9B9B9B;
}
.mshe-btn-dis{
    background-color: #e5e5e5;
    color: #fff;
    cursor: not-allowed;
    border: none;
    pointer-events: none;
}
.a-btn{
    line-height: 1.173333rem;
}

/*title 样式 */
.mshe-font1,.mshe-font2,.mshe-font3,.mshe-font4,.mshe-font5{
    color: #333;
}
.mshe-font1{
    @include font-dpr(36px);
}
.mshe-font2{
     @include font-dpr(32px);
}
.mshe-font3{
     @include font-dpr(28px);
}
.mshe-font4{
     @include font-dpr(24px);
}
.mshe-font5{
     @include font-dpr(22px);
}

.mshe-title{
    @include font-dpr(34px);
    color: #222;
    text-transform: capitalize;
}
