@import "library";
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1470206365_653918.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1470206365_653918.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1470206365_653918.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1470206365_653918.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1470206365_653918.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                   
/* icon图标类 */
.iconfont {
    font-family: iconfont;
}
.mshe-left {
    float: left;
}
.mshe-right {
    float: right;
}
.mshe-tleft {
    text-align: left;
}
.mshe-tcenter {
    text-align: center;
}
.mshe-tright {
    text-align: right;
}
.clearfix {
    @include clearfix;
}
/* 导航 */
.mshe-header {
    padding: 0 0.4rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    border-bottom: 1px solid #cdcdcd;
    div {
        @include font-dpr(36px);
        i + i {
            margin-left: 0.373333rem;
        }
    }
    .mshe-title {
        position: absolute;
        right: 0.4rem;
        left: 0.4rem;
        display: inline-block;
        overflow: hidden;
        width: auto;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    h1 {
        @include font-dpr(48px);
    }
    .mshe-left {
        float: left;
    }
    .mshe-right {
        float: right;
    }
}

.wrapper {
    padding: 0 0.4rem;
}
/* alert 弹出框 */
.mshe-layer {
    width: 7.466667rem;
    border:1px solid #cdcdcd;
    box-sizing: content-box;
    a {
        background: #000;
        color: #fff;
    }
    a + a {
        margin-left: 0.2rem;
    }
    i {
        font-size: 36px;
        color: #5EBD66;
    }
}
.mshe-layer-content {
    padding: 0.56rem 0.533333rem;
    h2 {
        @include font-dpr(32px);
        color: #222;
        margin-bottom: 0.213333rem;
    }
    p {
        @include font-dpr(24px);
        color: #999;
        line-height: 0.48rem;
    }
}

/* 表单控件样式 */
.mshe-input {
    box-sizing: border-box;
    display: block;
    width: 9.2rem;
    height: 0.8rem;
    padding: 0.133333rem;
     @include font-dpr(28px);
    color: #666;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.mshe-checkbox, .mshe-radio {
    position: relative;
}
.mshe-checkbox input[type=checkbox], .mshe-radio input[type=radio] {
    position: absolute;
    top: 4px;
    right: 20px;
    display: inline-block;
    width: 28px;
    height: 26px;
    border:1px solid #ddd;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none;
}

.mshe-checkbox input[type=checkbox]:before, .mshe-radio input[type=radio]:before {
    font-family: 'iconfont';
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: 0 0;
    -webkit-font-smoothing: antialiased;
}
/* button样式*/
.mshe-btn{
    display: inline-block;
    height: 1.173333rem;
    padding: 0 0.533333rem;
    margin-bottom: 0;
    border: 1px solid #222;
    @include font-dpr(32px);
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    @include prefix-property(touch-action,manipulation)
    @include prefix-property(user-select,none);
    background-image: none;
}
.mshe-btn-pri{
    background-color: #222;
    color: #fff;
    border: none;
}
.mshe-btn-pri:hover{
    color: #9B9B9B;
}
.mshe-btn-sec{
    background-color: #fff;
    color: #222;
}
.mshe-btn-sec:hover{
    color: #9B9B9B;
}
.mshe-btn-dis{
    background-color: #e5e5e5;
    color: #fff;
    cursor: not-allowed;
    border: none;
    pointer-events: none;
}
.a-btn{
    line-height: 1.173333rem;
}

/*title 样式  全文字体样式*/
.mshe-font1,.mshe-font2,.mshe-font3,.mshe-font4,.mshe-font5{
    color: #333;
}
.mshe-font1{
    @include font-dpr(36px);
}
.mshe-font2{
     @include font-dpr(32px);
}
.mshe-font3{
     @include font-dpr(28px);
}
.mshe-font4{
     @include font-dpr(24px);
}
.mshe-font5{
     @include font-dpr(22px);
}
.mshe-title{
    @include font-dpr(34px);
    color: #222;
    text-transform: capitalize;
}
.mshe-listt{
    @include font-dpr(32px);
    color: #222;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* 下拉框 */
.mshe-dropdown{
    @include font-dpr(24px);
    letter-spacing: 1px;
}
.dropdown-toggle{
    position: relative;
    width: 8.666667rem;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.266667rem;
    margin-bottom: 0;
    border: 1px solid #666;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    @include prefix-property(touch-action,manipulation)
    @include prefix-property(user-select,none);
    background-image: none;
}
.dropdown-toggle span{
    position: absolute;
    right: 0.266667rem;
}
.dropdown-menu{
    position: absolute;
    background-color: #fff;
    border-top: 0;
    border:1px solid #e5e5e5;
    width: 9.2rem;
}
.dropdown-menu li{
    height: 0.946667rem;
    line-height: 0.946667rem;
    padding: 0 0.266667rem;
    border-bottom:1px solid #e5e5e5;
}
