@import "library";
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1470206365_653918.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1470206365_653918.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1470206365_653918.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1470206365_653918.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1470206365_653918.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
                    
                    

/* icon图标类 */
.iconfont {
    font-family: iconfont;
}
.icon1{
    @include font-dpr(42px);
}
.mshe-left {
    float: left;
}
.mshe-right {
    float: right;
}
.mshe-tleft {
    text-align: left;
}
.mshe-tcenter {
    text-align: center;
}
.mshe-tright {
    text-align: right;
}
.clearfix {
    @include clearfix;
}
/* 导航 */
.mshe-header {
    padding: 0 0.4rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    border-bottom: 1px solid #cdcdcd;
    div {
        @include font-dpr(36px);
        i + i {
            margin-left: 0.373333rem;
        }
    }
    .mshe-title {
        position: absolute;
        right: 0.4rem;
        left: 0.4rem;
        display: inline-block;
        overflow: hidden;
        width: auto;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    h1 {
        @include font-dpr(48px);
    }
    .mshe-left {
        float: left;
    }
    .mshe-right {
        float: right;
    }
}

.wrapper {
    padding: 0 0.4rem;
}
/* alert 弹出框 */
.mshe-layer {
    width: 7.466667rem;
    border:1px solid #cdcdcd;
    box-sizing: content-box;
    a {
        background: #000;
        color: #fff;
        width: 100%;
    }
    a + a {
        margin-left: 0.2rem;
    }
    i {
        font-size: 36px;
        color: #5EBD66;
    }
}
.mshe-layer-content {
    padding: 0.56rem 0.533333rem;
    h2 {
        @include font-dpr(32px);
        color: #222;
        margin-bottom: 0.213333rem;
    }
    p {
        @include font-dpr(24px);
        color: #999;
        line-height: 0.48rem;
    }
}

/* 表单控件样式 */
.mshe-input,.mshe-select {
    box-sizing: border-box;
    display: block;
    width: 9.2rem;
    height: 0.8rem;
    padding: 0.133333rem;
     @include font-dpr(28px);
    color: #666;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label {
    display: inline-block;
    position: relative;
}
.none{
    display: none;
}
.block{
    display: block;
}
.mshe-checked {
    width: 0.586667rem;
    height: 0.586667rem;
    background: #fff;
    border: 1px solid #ccc;
    &:hover {
        border: 1px solid #999;
    }
    i {
        width: 0.373333rem;
        height: 0.24rem;
        position: absolute;
        top: 0.1rem;
        left: 0.096667rem;
        border: 3px solid #222;
        border-top: none;
        border-right: none;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.mshe-checked.disabled {
    border:1px solid #f5f5f5;
    i {
        border: 3px solid #e5e5e5;
        border-top: none;
        border-right: none;
    }
}

.mshe-radioed{
     width: 0.586667rem;
    height: 0.586667rem;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
    &:hover {
        border: 1px solid #999;
    }
    i{
        width: 0.293333rem;
        height: 0.293333rem;
        position: absolute;
        left: 0.146667rem;
        top: 0.146667rem;
        border-radius: 100%;
        background: #222222;
    }
}
.mshe-radioed.disabled {
    border:1px solid #f5f5f5;
    i {
        background: #e5e5e5;
    }
}
/* button样式*/
.mshe-btn{
    display: inline-block;
    height: 1.173333rem;
    line-height: 1.173333rem;
    box-sizing: border-box;
    padding: 0 0.533333rem;
    margin-bottom: 0;
    border: 1px solid #222;
    @include font-dpr(32px);
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    @include prefix-property(touch-action,manipulation)
    @include prefix-property(user-select,none);
    background-image: none;
}
.mshe-btn-pri{
    background-color: #222;
    color: #fff;
    border: none;
}
.mshe-btn-pri:hover{
    color: #9B9B9B;
}
.mshe-btn-sec{
    background-color: #fff;
    color: #222;
}
.mshe-btn-sec:hover{
    color: #9B9B9B;
}
.mshe-btn-dis{
    background-color: #e5e5e5;
    color: #fff;
    cursor: not-allowed;
    border: none;
    pointer-events: none;
}
.a-btn{
    line-height: 1.173333rem;
}

/*title 样式 */
.mshe-title1,.mshe-title2,.mshe-title3,.mshe-title4,.mshe-title5{
    color: #333;
}
.mshe-title1{
    @include font-dpr(36px);
}
.mshe-title2{
     @include font-dpr(32px);
}
.mshe-title3{
     @include font-dpr(28px);
}
.mshe-title4{
     @include font-dpr(24px);
}
.mshe-title5{
     @include font-dpr(22px);
}

/* 商品列表样式 */
.goods-list {
    ul {
        @include flexbox;
        flex-flow: row wrap;
        li {
            margin-right: 0.12rem;
            img {
                width: 2.986667rem;
                height: 3.973333rem;
            }
            .info {
                position: relative;
                height: 0.866667rem;
                padding-bottom: 0.4rem;
                i {
                    position: absolute;
                    right: 0.106667rem;
                    top: 0.106667rem;
                    @include font-dpr(36px);
                }
            }
            span {
                display: block;
            }
            del {
                color: #ccc;
            }
        }
        li:nth-child(3n) {
            margin-right: 0;
        }
    }
}