@import "library";
.goods-title {
    margin-top: 0.293333rem;
    p {
        margin-bottom: 0.08rem;
    }
    .mshe-pos {
        position: relative;
        .dropdown-menu {
            li {
                @include font-dpr(24px);
                padding: 0.266667rem 0 0.266667rem 0.4rem;
                border-bottom: 1px solid #e5e5e5;
                position: relative;
                i {
                    position: absolute;
                    right: 0.333333rem;
                    top: 0.25rem;
                }
            }
        }
        i {
            position: absolute;
            top: 0;
            right: 0.133333rem;
        }
    }
}
.goods-sort {
    margin-top: 0.4rem;
    margin-bottom: 0.786667rem;
    p {
        color: #999;
    }
    span {
        i {
            margin-left: 0.186667rem;
        }
    }
}
.goods-list {
    h3 {
        color: #222;
        margin-bottom: 0.4rem;
    }
}
