/* 存放组件库 */

/* 清除浮动 */
@mixin clearfix {
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
/* 根据不同dpr设置不同的字体大小 */
@mixin font-dpr($font-size) {
     font-size: $font-size;
    [data-dpr="1"] & {
         font-size: $font-size * 0.5;
    }
    [data-dpr="3"] & {
         font-size: $font-size * 1.5;
    }
}

@mixin prefix-property($name, $value) {
    -webkit-#{$name}: $value;
       -moz-#{$name}: $value;
        -ms-#{$name}: $value;
         -o-#{$name}: $value;
            #{$name}: $value;
}
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}